Arvato Customer Segmentation/Data/Udacity_CUSTOMERS_Subset (2)/Udacity_AZDIAS_Subset.csv
Arvato Customer Segmentation/Data/Udacity_CUSTOMERS_Subset (2)/Udacity_CUSTOMERS_Subset.csv
Arvato Customer Segmentation/Data/Udacity_CUSTOMERS_Subset (2).zip
income-predictor/saved_models/*.pkl
